@media (max-width: 992px) {
    .carts{
        width: 95% !important;
        top: 56px;
        transform: translateX(-5%) !important;
        padding: 10px 10px 20px 10px;
        transition: 300ms !important;
        user-select: text;
        overflow: auto;
        border-radius: 7px;
        user-select: none;
        height: 340px !important;
        margin-top: 20px;
    }
    .projects{
        margin-top: 10px;
        transition: 300ms !important;
        width: 100%;
    }
    
}


@media (max-width: 285px) {
    .carts{
        width: 100% !important;
        padding: 10px  !important;
    }
}


a{
    padding: 5px 20px !important;
    font-weight: 700 !important;
    font-size: 17px !important;
    color: black !important;
}

@media (max-width: 993px) {
    .buttonNav{
        display: block !important;
    }
    a{
        color: white !important;
    }

    .ulNav{
        position: fixed;
        top: 0px;
        left: 100%;
        bottom: 0;
        right: 0;
        background-color: rgb(20, 30, 35);
        transition: 600ms;
        overflow: auto;
    }
    .exit{
        display: block !important;
    }
    
}

.exit {
    padding: 17px 17px 0px 17px;
    right: 0;
    color: red;
    font-size: 30px;
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.buttonNav {
    display: none;
    margin-left: auto;
    background-color: transparent;
    border: 1px solid black;
}

.buttonNav:active{
    border: 3px solid black;

}

.buttonNav svg{
    padding: 4px;
    font-size: 20px;
}

.carts{
    position: absolute;
    background-color: rgb(218 218 218);
    width: 400px;
    top: 56px;
    right:  -10px;
    padding: 10px 10px 20px 10px;
    transition: 300ms !important;
    user-select: text;
    overflow: auto;
    border-radius: 7px;
    user-select: none;
}



.projects{
    margin-top: 10px;
    transition: 300ms !important;
    width: 100%;
}