@media (max-width: 992px) {
    section {
        height: 60vh !important;
    }
    .MuiSvgIcon-root{
        color: rgb(255, 255, 255) !important;
        font-size: 40px !important;
        margin-left: 5px;
    }
}

@media (max-height: 654px) {
    section {
        height: 80vh !important;
    }
    
}

@media (max-width: 465px) {
    .carousel-indicators {
        bottom: 0% !important;
    }
}



.logo{
    font-size: 30px !important;
    text-decoration: none ;
}

.carousel-indicators {
    bottom: 2%  ;
    width: 30%;
}

.carousel-indicators span {
    background-color: red !important;
    width: 20px !important;
    height: 20px !important;
    border-radius: 50%;
}

nav {
    user-select: none;
    z-index: 999;
}

.nav-item .active,
.nav-item a:hover,
.nav-item svg:hover {
    color: #f7444e !important
}

.nav-item a {
    text-transform: uppercase;
}
.nav-item a.disabled {
    color: rgb(117, 117, 117) !important;
}

.nav-item svg {
    cursor: pointer;
}

.card:hover p {
    top: 0% !important;
}
.forBefore{
    position: relative;
}
.forBefore::after {
    content: '';
    position: absolute;
    bottom: -15px;
    width: 100px;
    height: 4px;
    background-color: #f7444e;
}

